{% block content %}

	{% if profile %}
		<a href="{% url 'profile-detail' user.id %}">Back</a>
		{% for p in posts %}
			{% ifequal user p.author %}
				<h3>{{p.title}}</h3>
				Written by <h3>{{p.author}}</h3> on {{p.created_on}}
				<h6>{{p.content}}</h6> 
				{% if user.is_authenticated %}
					<form action="{% url 'comment_new' %}" method="POST" enctype="multipart/form-data">
						<div class="form-group">
						{% csrf_token %}
						<label for="comment">Add a comment</label>
						<input type="text" id="comment" name="data" placeholder="Enter comment"/>
						<input type="hidden" name="post_id" value="{{p.id}}"/>
						<div class="text-center">
						<input type="submit" value="Submit" class="btn btn-lg btn-primary" id="submit"/></div>
						</div>
					</form>
				{% endif %}
				Comments :-
				{% if not p.comments.all %}
					No comments yet! <br>
				{% endif %}
				{% for comment in p.comments.all %}
					<h3>{{comment.content}}</h3>
					Written by {{comment.author}} on {{comment.created_on}}
				{% endfor %}
				<h4>{{ p.upvote_count }}</h4>
				{% if user not in p.upvote.all %}
					<form method='POST' action="{% url 'post_upvote' %}">
						{% csrf_token %}
						<input type="hidden" name="page" value="profile"/>
						<input type="hidden" name="post_id" value="{{p.id}}"/>
						<input type="submit" value="Upvote" class="btn btn-lg btn-primary" id="upvote"/></div>
					</form>
					<form method='POST' action="{% url 'post_downvote' %}">
						{% csrf_token %}
						<input type="hidden" name="page" value="profile"/>
						<input type="hidden" name="post_id" value="{{p.id}}"/>
						<input type="submit" value="Downvote" class="btn btn-lg btn-primary" id="downvote"/></div>
					</form>
				{% endif %}
				<hr>
			{% endifequal %}
		{% endfor %}
	{% else %}
		{% if user.is_authenticated %}
			<p class="display-4">Hello, {{ user.username }} </p>
			<a href="{% url 'profile-detail' user.id %}">My profile</a>
		{% else %}
			<a class="lead" href="{% url 'login' %}">Log in</a>
		{% endif %}
		{% for p in posts %}
			<h3>{{p.title}}</h3>
			Written by <h3>{{p.author}}</h3> on {{p.created_on}}
			<h6>{{p.content}}</h6> 
			{% if user.is_authenticated %}
				<form action="{% url 'comment_new' %}" method="POST" enctype="multipart/form-data">
					<div class="form-group">
					{% csrf_token %}
					<label for="comment">Add a comment</label>
					<input type="text" id="comment" name="data" placeholder="Enter comment"/>
					<input type="hidden" name="post_id" value="{{p.id}}"/>
					<div class="text-center">
					<input type="submit" value="Submit" class="btn btn-lg btn-primary" id="submit"/></div>
					</div>
				</form>
			{% endif %}
			Comments :-
			{% if not p.comments.all %}
				No comments yet! <br>
			{% endif %}
			{% for comment in p.comments.all %}
				<h3>{{comment.content}}</h3>
				Written by {{comment.author}} on {{comment.created_on}}
			{% endfor %}
			<h4>{{ p.upvote_count }}</h4>
			{% if user.is_authenticated %}
				{% if user not in p.upvote.all %}
					<form method='POST' action="{% url 'post_upvote' %}">
						{% csrf_token %}
						<input type="hidden" name="page" value="post_new"/>
						<input type="hidden" name="post_id" value="{{p.id}}"/>
						<input type="submit" value="Upvote" class="btn btn-lg btn-primary" id="upvote"/></div>
					</form>
					<form method='POST' action="{% url 'post_downvote' %}">
						{% csrf_token %}
						<input type="hidden" name="page" value="post_new"/>
						<input type="hidden" name="post_id" value="{{p.id}}"/>
						<input type="submit" value="Downvote" class="btn btn-lg btn-primary" id="downvote"/></div>
					</form>
				{% endif %}
			{% endif %}
			<hr>
		{% endfor %}
		{% if user.is_authenticated %}
			<form action="{% url 'post_new' %}" method="POST" enctype="multipart/form-data">
				<div class="form-group">
				{% csrf_token %}
				{% for field in post_form %}
					<div class="fieldWrapper">
					{{ field.errors }}
					{{ field.label_tag }} {{ field }}
					{% if field.help_text %}
					<p class="help">{{ field.help_text|safe }}</p>
					{% endif %}
					</div>
				{% endfor %} 
				<div class="text-center">
					<input type="submit" value="Submit" class="btn btn-lg btn-primary" id="submit"/></div>
				</div>
			</form>
			<a class="lead" href="{% url 'logout' %}?next=/"> Logout</a>
		{% endif %}
	{% endif %}
{% endblock content %}