{% extends "base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        var token = "{{csrf_token}}";
        var approve_course_url = "{% url 'approve-course' %}";
        var reject_course_url = "{% url 'reject-course' %}";
        var approve_resource_url = "{% url 'approve-resource' %}";
        var reject_resource_url = "{% url 'reject-resource' %}";
        var approve_admin_url = "{% url 'approve-admin' %}";
        var reject_admin_url = "{% url 'reject-admin' %}";
    </script>
    <script src="{% static 'js/catalog.js' %}"></script>
    {% if is_admin %}
        <div class="course-requests">
        Course Requests
            {% for course in course_requests %}
                <div id="course-{{course.id}}">
                    <p id="name-{{course.id}}">{{ course.name }}</p>
                    <a class="approve-course" id="approve-{{course.id}}" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></a>
                    <!-- <button class="approve-course" id="approve-{{course.id}}">Approve</button> -->
                    <a class="reject-course" id="reject-{{course.id}}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                    <!-- <button class="reject-course" id="reject-{{course.id}}">Reject</button> -->
                </div>
                <br>
            {% endfor %}
        </div>
        <hr>
        <br>
        <div class="resource-requests">
            Resource Requests
                {% for resource in resource_requests %}
                    <div id="resource-{{resource.id}}">
                        <p id="name-{{resource.id}}">{{ resource.title }}</p>
                        <a class="approve-resource" id="approve-{{resource.id}}" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></a>
                        <!-- <button class="approve-resource" id="approve-{{resource.id}}">Approve</button> -->
                        <a class="reject-resource" id="reject-{{resource.id}}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                        <!-- <button class="reject-resource" id="reject-{{resource.id}}">Reject</button> -->
                        <br>
                    </div>
                {% endfor %}
        </div>
        <hr>
        <br>
        <div class="admin-requests">
            Admin Requests
                {% for profile in admin_requests %}
                    <div id="admin-{{profile.user.id}}">
                        <p id="name-{{profile.user.id}}">{{ profile.first_name }}</p>
                        <a class="approve-admin" id="approve-{{profile.user.id}}" class="btn btn-success"><i class="fa fa-check" aria-hidden="true"></i></a>
                        <!-- <button class="approve-resource" id="approve-{{resource.id}}">Approve</button> -->
                        <a class="reject-admin" id="reject-{{profile.user.id}}" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></a>
                        <!-- <button class="reject-resource" id="reject-{{resource.id}}">Reject</button> -->
                        <br>
                    </div>
                {% endfor %}
        </div>
    {% endif %}
    <hr>
    <br>
    Courses<br>
    {% for course in courses %}
        <a href="{% url 'course-detail' course.id %}">{{course.name}}</a><br>
    {% endfor %}
{% endblock %}