{% load static %}
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/comment.css' %}">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
{% block comment %}
    {% load static %}
    <div class="row">
        <div class="col-sm-auto">
            <div class="thumbnail">
                <img class="img-responsive user-photo" src="{{comment.author.profile.profile_picture.url}}">     
            </div> 
        </div> 
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>{{comment.author}}</strong> <span class="text-muted">commented on {{comment.created_on}}</span>
                </div>
                <div class="panel-body">
                    {{comment.content}}
                </div>
            </div>
        </div>
    </div>
    <br>
{% endblock %}