{% extends "base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
        var token = "{{csrf_token}}";
        var vote_url = "{% url 'post_votes' %}";
        var post_url = "{% url 'post_new' %}";
        var post_delete = "{% url 'post_delete' %}";
        var comment_url = "{% url 'comment_new' %}";
        var upload_url = "{% url 'upload-resource' %}";
        var admin_request_url = "{% url 'admin-request' %}";
    </script>
    <script src="{% static 'js/home.js' %}"></script>

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                {% if user.is_authenticated %}
                    {% if user.profile.all.count != 0 %}
                        {% for profile in user.profile.all %}
                            <div class="card">
                                <div class="card-body">
                                    <img class="img-responsive user-photo" height=150px width=150px src="{{profile.profile_picture.url}}">  
                                    <div class="h5">{{ profile.username }}</div>
                                    <div class="h7 text-muted">{{ profile.first_name }} {{ profile.last_name }}</div>
                                    <div class="h7">{{ profile.description }}</div>
                                    <a href="{% url 'profile-detail' user.id %}">My profile</a>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <div class="h6 text-muted">Followers</div>
                                        <div class="h5">5.2342</div>
                                    </li>
                                    <li class="list-group-item">
                                        <div class="h6 text-muted">Following</div>
                                        <div class="h5">6758</div>
                                    </li>
                                    <li class="list-group-item">Vestibulum at eros</li>
                                </ul>
                            </div>   
                        {% endfor %}
                    {% else %}
                        <a class="lead" href="{% url 'edit-profile' %}">Create Profile</a>
                    {% endif %}
                {% endif %}
            </div>

            <div class="col-md-6 gedf-main">
                {% if user.is_authenticated and not profile %}
                    <div class="card gedf-card">
                        <div class="card-header">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#post-tab">Post to blog</a></li>
                                <li><a data-toggle="tab" href="#files-tab">Upload to portal</a></li>
                            </ul>              
                            <div class="tab-content">
                                <div id="post-tab" class="tab-pane fade in active">
                                    <br>
                                    <form action="{% url 'post_new' %}" method="POST" enctype="multipart/form-data">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            <label class="sr-only" for="message">post</label>
                                            <textarea class="form-control" id="title" rows="1" name="title" placeholder="What are you thinking?"></textarea>
                                            <br>
                                            <textarea class="form-control" id="data" rows="3" name="data" placeholder="What are you thinking?"></textarea>
                                        </div>
                                        <div class="btn-toolbar justify-content-between">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-primary" id="post">Post</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="files-tab" class="tab-pane fade">
                                    <br>
                                    <div class="col-sm-4">
                                        <a id="upload-resource" href="#">Upload Resource</a> 
                                    </div>
                                    <div class="col-sm-4">
                                        <a id="create-course" href="#">Create Course</a>
                                    </div>
                                    <div class="col-sm-4">
                                        <a id="request-admin" href="#">Admin Request</a> 
                                    </div>
                                    <div id="resource-form">
                                        <form action="{% url 'upload-resource' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">   
                                                <div class="col-xs-12">
                                                    {{ res_form.title }}
                                                </div>
                                            </div>
                                            <div class="form-group"> 
                                                <div class="col-xs-12">
                                                    {{ res_form.description }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    {{ res_form.course }}
                                                </div>
                                                <div class="form-group">  
                                                    <div class="col-xs-6">
                                                        {{ res_form.file }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="btn-toolbar justify-content-between">
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-primary">Upload</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="course-form">                                   
                                        <form action="{% url 'create-course' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">   
                                                <div class="col-xs-6">
                                                    {{ course_form.department }}
                                                </div>
                                                <div class="col-xs-6">
                                                    {{ course_form.degree }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    {{ course_form.name }}
                                                </div>
                                                <div class="col-xs-6">
                                                    {{ course_form.code }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="btn-toolbar justify-content-between">
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-primary">Create Course</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div id="admin-request">
                                        {% for profile in user.profile.all %}
                                            {% if profile.admin %}
                                                <p>You are already an admin</p>
                                            {% elif profile.admin_request %}
                                                <p>You have already requested to be an admin</p>
                                            {% else %}
                                                <p id="text"></p>
                                                <button class="admin-req" id="admin-{{ profile.user.id }}">Admin Request</a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <br><br>
                <div class="posts">
                    {% include "post.html" with posts=posts %}
                </div>
            </div>

            <div class="col-md-3">
                {% if user.is_authenticated %}
                    <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                    <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock  %}