{% extends "base.html" %}

{% block content %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}">

    <div class="container-fluid gedf-wrapper">
        <div class="row">
            <div class="col-md-3">
                {% if user.is_authenticated %}
                    <div class="card">
                        <div class="card-body">
                            <img class="img-responsive user-photo" height=150px width=150px src="{{user.profile.profile_picture.url}}">  
                            <div class="h5">{{ user.profile.username }}</div>
                            <div class="h7 text-muted">{{ user.profile.first_name }} {{ user.profile.last_name }}</div>
                            <div class="h7">{{ user.profile.description }}</div>
                            <a href="{% url 'profile-detail' user.id %}">My profile</a>
                        </div>
                    </div>   
                {% endif %}
            </div>

            <div class="col-md-6 gedf-main">
                {% if user.is_authenticated %}
                    <div class="card gedf-card">
                        <div class="card-header">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="#post-tab">Post to blog</a></li>
                                <li><a data-toggle="tab" href="#files-tab">Create Course</a></li>
                            </ul>              
                            <div class="tab-content">
                                <div id="post-tab" class="tab-pane fade in active">
                                    <br>
                                    <form action="{% url 'post_new' %}" method="POST" enctype="multipart/form-data">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            <label class="sr-only" for="message">post</label>
                                            <textarea class="form-control" id="title" rows="1" name="title" placeholder="What are you thinking?"></textarea>
                                            <br>
                                            <textarea class="form-control" id="data" rows="3" name="data" placeholder="What are you thinking?"></textarea>
                                        </div>
                                        <div class="btn-toolbar justify-content-between">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-primary" id="post">Post</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="files-tab" class="tab-pane fade">
                                    <br>
                                    <div id="course-form">                                   
                                        <form action="{% url 'create-course' %}" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="form-group">   
                                                <div class="col-xs-6">
                                                    {{ course_form.department }}
                                                </div>
                                                <div class="col-xs-6">
                                                    {{ course_form.degree }}
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    {{ course_form.name }}
                                                </div>
                                                <div class="col-xs-6">
                                                    {{ course_form.code }}
                                                </div>
                                            </div>
                                            <br>
                                            <div class="btn-toolbar justify-content-between">
                                                <div class="btn-group">
                                                    <button type="submit" class="btn btn-primary">Create Course</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <br><br>
                <div class="posts">
                    {% include "post.html" with posts=posts %}
                </div>
            </div>

            <div class="col-md-3">
                {% if user.is_authenticated %}
                    <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                    <div class="card gedf-card">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock  %}